{% extends './base/base.html' %}

{% block extra_header %}
    {% include './base/cat.html' %}
{% endblock %}
    
{% block content %}

{% for post in featured_post %}
 {% if forloop.first %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('{{ post.blog_image.url }}');background-blend-mode: overlay;background-size:cover;">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic"><a href="{% url 'blogs' post.slug %}" style="color: rgba(255,255,255,0.8); text-decoration: none;">{{ post.title }}</a></h1>
      <p class="my-3"  style="color: rgba(255, 255, 255, 0.913);">{{ post.short_description | truncatewords:25}}</p>
      <p class=""><a href="{% url 'blogs' post.slug %}"  class="text-white" style="color: rgba(198, 195, 195, 0.8); text-decoration: none;">Continue reading...</a></p>
    </div>
  </div>
 {% endif %}
{% endfor %}

<h3 class="text-head">Featured Post</h3>
  <div class="row mb-2">
    {% for post in featured_post %}
      {% if not forloop.first %}
    <div class="col-md-6">
      <div class="card border-0" style="margin: 14px 10px;" >
        <div>
          <h5><a href="{% url 'blogs' post.slug %}" style="text-decoration: none;">{{ post.title }}</a></h5>
          <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
         <p class="card-text">{{ post.short_description|truncatewords:30 }}</p>
        </div>
      </div>
    </div>
      {% endif %}
    {% endfor %}
  </div>
<!-- Recent Articles -->

<h3 class="text-head">Recent Articles</h3>
  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">
       {% for post in posts %} 
      <div class="card border-0" style="margin: 14px 10px;">
        <div>
          <h5><a href="{% url 'blogs' post.slug %}">{{ post.title }}</a></h5>
          <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
          <p class="card-text">{{ post.short_description | truncatewords:20 }}</p>
        </div>
      </div>
      {% endfor %}
        <!-- /.blog-post -->

      </div>
      <!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">Welcome Traveler,</h4>
          <p class="mb-0">This is a sanctuary for all who wander and wonder. We're not about dusty tomes or ancient prophecies — this is a living chronicle of the here and now, a fellowship for everyone from the quiet hobbits to the wise elves.</p>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Follow Us</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/amanrawat-js/">GitHub</a></li>
            <li><a href="https://linkedin.com/in/amanrawat1/">LinkedIn</a></li>
          </ol>
        </div>
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->

{% endblock %}