{% extends './base/base.html' %}

{% block content %}

  <main role="main" class="container p-4">
    <h4 class="text-dark" style="letter-spacing: 1px;">Related search results:</h4>
    <div class="row">
      <div class="col-md-8 blog-main">
       {% for post in blogs %} 
      <div class="card border-0" >
        <div class="card-body">
          <h5><a href="{% url 'blogs' post.slug %}" style="text-decoration: none;">{{ post.title }}</a></h5>
          <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
          <p class="card-text">{{ post.short_description | truncatewords:20 }}</p>
        </div>
      </div>
      {% endfor %}
      </div>
    </div><!-- /.row -->
  </main><!-- /.container -->

{% endblock %}