{% extends '../base/base.html' %}

{% block content %}
<div class="row" style="margin-top: 14px; height: 62vh;">
  <!-- left sidebar -->
  {% include './leftsidebar.html' %}
  <!-- right sidebad -->
  <div class="col-md-9">
  <div class="row">
    <div class="col">
      <div class="card border-default mb-3 p-2">
        <div class="card-header text-center font-weight-bold py-2">
          <h5 class="text-dark mb-0">All Categories</h5>
        </div>
        <div class="card-body text-dark py-2">
          <h6 class="card-title text-center mb-0">{{ category_count }}</h6>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-default mb-3 p-2">
        <div class="card-header text-center font-weight-bold py-2">
          <h5 class="text-dark mb-0">All Posts</h5>
        </div>
        <div class="card-body text-dark py-2">
          <h6 class="card-title text-center mb-0">{{ blogs_count }}</h6>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}